<div class="bg-white p-4 mt-4">
  <div>
    <div class="px-4 sm:px-0">
      <h3 class="text-base font-semibold leading-7 text-gray-900">
        <%= current_user.name %> (<%= current_user.email %>)
      </h3>
      <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">
        You are currently signed into <strong><%= current_company.name %>'s</strong> StaffPlan account.
      </p>
    </div>
    <div class="mt-6 border-t border-gray-100">
      <dl class="divide-y divide-gray-100">
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">StaffPlan Accounts you have access to</dt>
          <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <ul role="list" class="divide-y divide-gray-100 rounded-md border border-gray-200">
              <% current_user.memberships.includes(:company).each do |membership| %>
                <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
                  <div class="flex w-0 flex-1 items-center">
                    <% if membership.active? %>
                      <span class="inline-flex items-center gap-x-1.5 rounded-md bg-green-100 px-1.5 py-0.5 text-xs font-medium text-green-700">
                        <svg class="h-1.5 w-1.5 fill-green-500" viewBox="0 0 6 6" aria-hidden="true">
                          <circle cx="3" cy="3" r="3" />
                        </svg>
                        Active
                      </span>
                    <% else %>
                      <span class="inline-flex items-center gap-x-1.5 rounded-md bg-gray-100 px-1.5 py-0.5 text-xs font-medium text-gray-600">
                        <svg class="h-1.5 w-1.5 fill-gray-400" viewBox="0 0 6 6" aria-hidden="true">
                          <circle cx="3" cy="3" r="3" />
                        </svg>
                        Inactive
                      </span>
                    <% end %>
                    <div class="ml-4 flex min-w-0 flex-1 gap-2">
                      <span class="truncate font-medium">
                        <%= membership.company.name %>
                      </span>
                      <span class="flex-shrink-0 text-gray-400">
                        <%= membership.role.titleize %>
                      </span>
                    </div>
                  </div>
                  <div class="ml-4 flex-shrink-0">
                    <% if current_company == membership.company %>
                      <span class="font-medium text-indigo-600 hover:text-indigo-500">
                        Current Account
                      </span>
                    <% elsif membership.inactive? %>
                      <span class="font-medium text-indigo-600 hover:text-indigo-500">
                        Your membership is inactive.
                      </span>
                    <% else %>
                      <%= button_to "Switch to this account", switch_account_dashboard_path(company_id: membership.company.id), class: "font-medium text-indigo-600 hover:text-indigo-500" %>
                    <% end %>
                  </div>
                </li>
              <% end %>
            </ul>
          </dd>
        </div>
      </dl>
    </div>
  </div>


</div>