<div class="col-span-full">
  <%= f.label :avatar, "Avatar", class: "block text-sm font-medium leading-6 text-gray-900" %>
  <div class="mt-2 flex items-center gap-x-3" data-controller="avatar-file">
    <% if @attachable.avatar.present? %>
      <%= image_tag(@attachable.avatar.variant(:thumb)) %>
    <% else %>
      <%= helpers.gravatar_url(target: @attachable, size: 200, css_classes: "h-32 w-32 rounded-full text-gray-300") %>
    <% end %>
    <%= f.file_field :avatar,
                     class: "hidden",
                     accept: ".jpg,.jpeg,.png,.gif",
                     data: {
                       "avatar-file-target" => "fileInput",
                       "action" => "change->avatar-file#change"
                     } %>
    <button type="button"
            data-avatar-file-target="changeButton"
            data-action="click->avatar-file#click"
            class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
      Change
    </button>

    <% if @attachable.avatar.present? %>
      <p class="mt-1">
        <%= link_to "Remove",
                    avatars_path,
                    data: {
                      "turbo-method": :delete,
                      "turbo-confirm": "Are you sure?"
                    }, class: "text-sm font-semibold text-red-600"
        %>
      </p>
    <% end %>
  </div>
</div>