<div id="<%= dom_id work_week %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Estimated hours:</strong>
    <%= work_week.estimated_hours %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Actual hours:</strong>
    <%= work_week.actual_hours %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Cweek:</strong>
    <%= work_week.cweek %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Year:</strong>
    <%= work_week.year %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Assignment:</strong>
    <%= work_week.assignment_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this work week", work_week, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this work week", edit_work_week_path(work_week), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
