<%= render(Settings::SectionHeadingComponent.new(user: @user)) do |heading_component|
  heading_component.with_breadcrumbs do |breadcrumbs_component|
    breadcrumbs_component.with_breadcrumb(title: "Settings", link: settings_path, first: true) do |settings_icon|
      settings_icon.with_svg do %>
        <svg class="flex-shrink-0 w-6 h-6 inline" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12a7.5 7.5 0 0 0 15 0m-15 0a7.5 7.5 0 1 1 15 0m-15 0H3m16.5 0H21m-1.5 0H12m-8.457 3.077 1.41-.513m14.095-5.13 1.41-.513M5.106 17.785l1.15-.964m11.49-9.642 1.149-.964M7.501 19.795l.75-1.3m7.5-12.99.75-1.3m-6.063 16.658.26-1.477m2.605-14.772.26-1.477m0 17.726-.26-1.477M10.698 4.614l-.26-1.477M16.5 19.794l-.75-1.299M7.5 4.205 12 12m6.894 5.785-1.149-.964M6.256 7.178l-1.15-.964m15.352 8.864-1.41-.513M4.954 9.435l-1.41-.514M12.002 12l-3.75 6.495" />
        </svg>
      <%
      end
    end

    breadcrumbs_component.with_breadcrumb(title: "User Management", link: settings_users_path)
    breadcrumbs_component.with_breadcrumb(title: @user.name, last: true)
  end
  heading_component.with_action_buttons do %>
    <%= link_to "Edit", edit_settings_user_path(@user), class: "ml-3 inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>

    <% if @user != current_user %>
      <% if @user.inactive?(company: current_company) %>
        <%= button_to "Activate", toggle_status_settings_user_path(@user), method: :post, data: { confirm: "Are you sure?" }, form_class: "inline", class: "ml-3 inline-flex items-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600" %>
      <% else %>
        <%= button_to "De-activate", toggle_status_settings_user_path(@user), method: :post, data: { confirm: "Are you sure?" }, form_class: "inline", class: "ml-3 inline-flex items-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div class="bg-white p-4 mt-4">
  <dl class="divide-y divide-gray-100">
    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
      <dt class="text-sm font-medium leading-6 text-gray-900">Full name</dt>
      <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
        <%= @user.name %>
      </dd>
    </div>
    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
      <dt class="text-sm font-medium leading-6 text-gray-900">E-mail address</dt>
      <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
        <%= @user.email %>
      </dd>
    </div>
    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
      <dt class="text-sm font-medium leading-6 text-gray-900">Role</dt>
      <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
        <%= @user.role(company: current_company).titleize %>
      </dd>
    </div>
  </dl>
</div>