<%= render(Settings::SectionHeadingComponent.new) do |component| %>
  <% component.with_action_buttons do %>
    <%= link_to "Edit", edit_settings_user_path(@user), class: "ml-3 inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>

    <% if @user != current_user %>
      <% if @user.inactive?(company: current_company) %>
        <%= button_to "Activate", toggle_status_settings_user_path(@user), method: :post, data: { confirm: "Are you sure?" }, form_class: "inline", class: "ml-3 inline-flex items-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600" %>
      <% else %>
        <%= button_to "De-activate", toggle_status_settings_user_path(@user), method: :post, data: { confirm: "Are you sure?" }, form_class: "inline", class: "ml-3 inline-flex items-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600" %>
      <% end %>
    <% end %>
  <% end %>
  <% component.with_header do %>
    <%= @user.name %>
  <% end %>
<% end %>

<div class="bg-white p-4 mt-4">
  <dl class="divide-y divide-gray-100">
    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
      <dt class="text-sm font-medium leading-6 text-gray-900">Full name</dt>
      <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
        <%= @user.name %>
      </dd>
    </div>
    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
      <dt class="text-sm font-medium leading-6 text-gray-900">E-mail address</dt>
      <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
        <%= @user.email %>
      </dd>
    </div>
    <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
      <dt class="text-sm font-medium leading-6 text-gray-900">Role</dt>
      <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
        <%= @user.role(company: current_company).titleize %>
      </dd>
    </div>
  </dl>
</div>