<header class="navigation">
  <div class="menu-wrapper">
    <!-- <a href="javascript:void(0)" class="logo">
      SP logo
    </a> -->
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><%= link_to("My StaffPlan", staffplan_path(current_user)) %></li>
        <li class="nav-link"><%= link_to("All StaffPlans", staffplans_path) %></li>
        <li class="nav-link more manage">
          <a href="javascript:void(0)">Manage </a>
          <ul class="submenu">
            <li>
              <%= link_to "Account", edit_user_registration_path %>
            </li>
            <li>
              <%= link_to "Companies", companies_path %>
            </li>
            <li>
              <%= link_to "Clients", clients_path %>
            </li>
            <li>
              <%= link_to "Projects", projects_path %>
            </li>
            <li>
                <%= link_to "Invitations", invites_path %>
              </li>
            <% if !current_user.current_company.blank? && current_user.admin_of?(current_user.current_company) %>
              <li>
                <%= link_to "Company Invitations", company_invites_path(current_user.current_company) %>
              </li>
            <% end %>
          </ul>
        </li>
        <li class="nav-link"><a href="mailto:staffplan-feedback@goinvo.com?subject=StaffPlan%20Feedback">Feedback</a></li>
        <% if !current_user.current_company.blank? %>
          <li class="nav-link more company-select">
            <a href="javascript:void(0)"><%= current_user.current_company.name %></a>
            <ul class="submenu">
              <% current_user.companies.order('name asc').each do |company| %>
                <% if !(company == current_user.current_company) %>
                  <li>
                    <%= link_to company.name, current_company_path(company), data: { method: :patch } %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>
        <li class="nav-link"><%= link_to("Sign Out", destroy_user_session_path, data: {method: :delete})%></li>
      </ul>
    </div>
    <div class="navigation-tools">
      <div class="search-bar">
        <div class="search-and-submit">
          <input type="search" placeholder="Enter Search" />
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  $(function() {
    var menu = $('#navigation-menu');
    var menuToggle = $('#js-mobile-menu');
    var signUp = $('.sign-up');

    $(menuToggle).on('click', function(e) {
      e.preventDefault();
      menu.slideToggle(function(){
        if(menu.is(':hidden')) {
          menu.removeAttr('style');
        }
      });
    });

    // underline under the active nav item
    $(".nav .nav-link").click(function() {
      $(".nav .nav-link").each(function() {
        $(this).removeClass("active-nav-item");
      });
      $(this).addClass("active-nav-item");
      $(".nav .more").removeClass("active-nav-item");
    });
  });
</script>
